.header__content {
  gap: 465px;
}

.navbar-nav {
  gap: 95px;
}

.nav-link {
  color: var(--text, #252b42);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.nav-link:hover {
  color: #FA4A0C;
}

@media (max-width: 375px) {
  .header__content {
    gap: 0;
  }
}
.main-buttons1 {
  background-image: url("/assets/images/Rectangle48.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 619px;
}

.main-buttons1__content {
  padding: 80px 0 160px 0;
}

.main-buttons1__content-title {
  color: #f6f6f6;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}

.main-buttons1__content-head-title {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
  white-space: pre;
}

.main-buttons1__content-text {
  color: #f6f6f6;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}

.main-buttons1__content-button {
  padding: 80px 0 0 0;
}

.main-buttons1__content-button1 {
  background-color: #fa4a0c;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.main-buttons1__content-button2 {
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 375px) {
  .main-buttons1__content-head-title {
    font-size: 30px;
    font-weight: 600;
  }
}
.main__content-block1 {
  margin: 0 0 80px 0;
}

.main__content-block1-title {
  color: #000;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 81.818% */
  letter-spacing: 0.1px;
  margin: 55px 0 70px 0;
}

.main__content-block1-text-title {
  color: #fa4a0c;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}

.main__content-block1-text-title2 {
  color: var(--text, #252b42);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  white-space: pre;
}

.main__content-block1-text1 {
  color: var(--second-text, #737373);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
  white-space: pre;
}

@media (max-width: 768px) {
  .main__content-block1-text {
    gap: 0;
  }
  .main__content-block1-text-title2 {
    font-size: 30px;
    font-weight: 500;
  }
  .main__content-block1-text1 {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .main__content-block1-block-mini {
    flex-direction: column !important;
    gap: 50px;
  }
}
.main__content2 {
  margin: 30px 0 220px 0;
}

.main-buttons2 {
  background-image: url("/assets/images/Rectangle47.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 516px;
}

.main-buttons2__content {
  padding: 80px 0 160px 0;
}

.main-buttons2__content-title {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
  white-space: pre;
}

.main-buttons2__content-text {
  color: #f6f6f6;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}

.main-buttons2__content-button {
  padding: 80px 0 0 0;
}

.main-buttons2__content-button1 {
  background-color: #fa4a0c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.main-buttons2__content-button2 {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.footer {
  margin: 110px 0 50px 0;
}

.footer__content {
  gap: 845px;
}

.footer__content-text {
  color: var(--second-text, #5c5c5c);
  text-align: right;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: 0.1px;
}

@media (max-width: 768px) {
  .footer__content {
    gap: 350px;
  }
}
@media (max-width: 375px) {
  .footer__content {
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */